body{
    text-align: center;
    margin: 0;
    background-color: #f5f5f5;
}
.banner{
    object-fit: fill;
    width: 1536px;
    height: 9.65em;
    margin: 0;
  }
h1{
    color: aliceblue;
    position: absolute;
    top: 20px;
    padding-left: 150px;
}
p{
    color: rgb(3, 3, 3);
    position: absolute;
    top: 90px;
    padding-left: 155px;
}
.nav{
    background-color: #bb1919;
    width: 1536px;
    height: 60px;
    margin: 
}
.menu{
    width: 50%;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin: 20px;
    position: relative;
    top: 15px;
}
a:hover{
    color: gray;
}
.sub-menu {
    background-color: #bb1919;
    color: #f5f5f5;
    display: inline;
    float: left;
    width: 10%;
    height: 50px;
    margin: 10px;
    position: relative;
    left: 145px;
    padding-top: 0px;
}
.flash-story{
    width: 80%;
    margin: 10px auto 10px auto;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
h4{
    position: relative;
    bottom: 13px;
}
.flash-story a{
    color: #333333;
}
.content{
    width: 80%;
    margin: auto;
    /* display: inline; */
    height: 600px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.content1{
    width: 50%;
    margin: auto;
    /* position: absolute; */
    background-color: #ffffff;
    height: 600px;
    float: left;
}
h3{
    float: left;
    padding-left: 10px;
    margin:5px;
}
.content1-img
{
    height: 560px;
    width: 580px;
}
.content2{
    width: 25%;
    margin: auto;
    /* position: absolute; */
    background-color: #ffffff;
    height: 600px;
    float: left;
}
.content2-img{
    float: left;
    position: relative;
    left: 13px;
    height: 45%;
}
.content3{
    width: 25%;
    margin: auto;
    /* position: absolute; */
    background-color: #ffffff;
    height: 600px;
    float: left;
}
.content3-img{
    /* margin: 80px 0px 0px 0px; */
    width: 275px;
    /* height: 250px; */
    height: 45%;
    float: left;
    position: relative;
    left: 11px;
    margin-top: 12px;
}
.content3{
    width: 25%;
    margin: auto;
    /* position: absolute; */
    background-color: #ffffff;
    height: 600px;
}
.content4{
    height: 109px;
    width: 96%;
    margin: 38px auto 10px auto;
    position: relative;
    /* display: inline; */
}
.content4-img{
    width:48%;
    height: 100px;
    float: left;
    display: inline;
}
.sub-content4{
    width: 50%;
    height: 50%;
    margin: 20px auto 20px auto;
    float: right;
    text-align: left;
    }
    h5{
        margin: 0;
        color: #000000;
    }
    em{
        color: #bb1919;
    }
    h2{
        color: #f5f5f5;
    }
    .iphone{
        color: #f5f5f5;
        float: left;
        position: relative;
        bottom: 80px;
        left: 30px;
    }
    